// CSS

body {
    font-family: 'Arial Narrow', Roboto, 'Lucida Sans';
}

.bg-image {
    background-image: url('https://www.bpimaging.com/assets/uploads/2015/02/11816_D2_186.jpg');
    height: 50vh;
}


// Updates before import
$primary: #e24819;
$secondary: #503027;




// Import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';
