// CSS

body {
    font-family: 'Arial Narrow', Roboto, 'Lucida Sans';
}


// Updates before import
$primary: #e24819;
$secondary: #503027;




// Import bootstrap
@import '../../node_modules/bootstrap/scss/bootstrap';
